# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db